################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TMMAConversions/v16
/TMMAConversions.UI/Files/CCS/Excels/BOM
/TMMAConversions.UI/Files/CCS/SAP
/TMMAConversions.UI/Files/Monomer/Excels/BOM
/TMMAConversions.UI/Files/Monomer/SAP