@section Styles {
    <style type="text/css">
        .list-group-item {
            margin: 0 !important;
            border: 0;
        }

        .btn-no-radius {
            border-radius: 0;
        }
    </style>
}

<div class="page-header">
    <h1><i class="fa fa-folder-open"></i>&nbsp;Master <small>CCS BOM Item</small></h1>
</div>

<!-- Add File Section -->
<section ng-controller="materialBOMItemController" class="search-section" ng-init="init()">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal form-element">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="txt_user_sap" class="col-sm-6 control-label">
                                <i class="fa fa-user"></i> User SAP <span style="color: red;">*</span> :
                            </label>
                            <div class="col-sm-6">
                                <input id="txt_user_sap" ng-model="User" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="txt_user_sap" class="col-sm-6 control-label">
                                <i class="fa fa-compact-disc"></i> Recording Object Name <span style="color: red;">*</span> :
                            </label>
                            <div class="col-sm-6">
                                <input id="txt_rec_object_name" ng-model="RecObjectName" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="txt_valid_date" class="col-sm-6 control-label">
                                <i class="fa fa-calendar-check"></i> Valid Date <span style="color: red;">*</span> :
                            </label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input id="txt_valid_date" ng-model="ValidDate" type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button id="btn_valid_date" class="btn btn-default" type="button"><i class="fa fa-calendar-alt"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="input_upload_file" class="col-sm-6 control-label">
                                <i class="fa fa-file-excel"></i> Upload File <span style="color: red;">*</span> :
                            </label>
                            <div class="col-sm-6">
                                <input type="file" class="form-control" id="input_upload_file">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary" ng-click="OnUploadBOMFile()" type="button" id="btn_upload_file"><i class="fa fa-file-excel"></i>&nbsp;Upload Excel</button>
                        <a ng-class="(BOMFileViewModel.List.length > 0) ? '' : 'disabled'" href="~/Files/CCS/Excels/BOM/CCSBOM.xlsx" class="btn btn-success" id="btn_download_file"><i class="fa fa-file-excel"></i>&nbsp;Download Excel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body p-0">
                    <ul class="list-group m-0">
                        <li class="list-group-item row p-0">
                            <button ng-click="OnOrdering('RecObjectName')" class="btn btn-info col-md-1 col-sm-4 col-xs-4 btn-no-radius">
                                Name <i ng-class="BOMFileViewModel.Filter.Order == 'RecObjectName' ? BOMFileViewModel.Filter.Sort == 'asc' ? 'fa fa-sort-down' : 'fa fa-sort-up' : 'fa fa-sort'"></i>
                            </button>
                            <button ng-click="OnOrdering('UserSAP')" class="btn btn-info col-md-1 hidden-sm hidden-xs btn-no-radius">
                                User <i ng-class="BOMFileViewModel.Filter.Order == 'UserSAP' ? BOMFileViewModel.Filter.Sort == 'asc' ? 'fa fa-sort-down' : 'fa fa-sort-up' : 'fa fa-sort'"></i>
                            </button>
                            <button ng-click="OnOrdering('Version')" class="btn btn-info col-md-1 hidden-sm hidden-xs btn-no-radius">
                                Version <i ng-class="BOMFileViewModel.Filter.Order == 'Version' ? BOMFileViewModel.Filter.Sort == 'asc' ? 'fa fa-sort-down' : 'fa fa-sort-up' : 'fa fa-sort'"></i>
                            </button>
                            <button ng-click="OnOrdering('Status')" class="btn btn-info col-md-1 col-sm-2 col-xs-2 btn-no-radius">
                                Status <i ng-class="BOMFileViewModel.Filter.Order == 'Status' ? BOMFileViewModel.Filter.Sort == 'asc' ? 'fa fa-sort-down' : 'fa fa-sort-up' : 'fa fa-sort'"></i>
                            </button>
                            <button ng-click="OnOrdering('ValidDate')" class="btn btn-info col-md-2 hidden-sm hidden-xs btn-no-radius">
                                Valid Date <i ng-class="BOMFileViewModel.Filter.Order == 'ValidDate' ? BOMFileViewModel.Filter.Sort == 'asc' ? 'fa fa-sort-down' : 'fa fa-sort-up' : 'fa fa-sort'"></i>
                            </button>
                            <button ng-click="OnOrdering('CreatedBy')" class="btn btn-info col-md-1 hidden-sm hidden-xs btn-no-radius">
                                Created By <i ng-class="BOMFileViewModel.Filter.Order == 'CreatedBy' ? BOMFileViewModel.Filter.Sort == 'asc' ? 'fa fa-sort-down' : 'fa fa-sort-up' : 'fa fa-sort'"></i>
                            </button>
                            <button ng-click="OnOrdering('CreatedDate')" class="btn btn-info col-md-2 hidden-sm hidden-xs btn-no-radius">
                                Created Date <i ng-class="BOMFileViewModel.Filter.Order == 'CreatedDate' ? BOMFileViewModel.Filter.Sort == 'asc' ? 'fa fa-sort-down' : 'fa fa-sort-up' : 'fa fa-sort'"></i>
                            </button>
                            <button class="btn btn-info col-md-3 col-sm-6 col-xs-6 btn-no-radius">
                                Action
                            </button>
                        </li>

                        <li ng-repeat="o in BOMFileViewModel.List" ng-if="BOMFileViewModel.List != null" class="list-group-item row p-10">
                            <div class="col-md-1 col-sm-4 col-xs-4 text-center">
                                {{o.RecObjectName}}
                            </div>
                            <div class="col-md-1 hidden-sm hidden-xs text-center">
                                {{o.UserSAP}}
                            </div>
                            <div class="col-md-1 hidden-sm hidden-xs text-center">
                                {{o.BOMFileVersion | number:2}}
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-2 text-center">
                                {{o.FileStatus.FileStatusName}}
                            </div>
                            <div class="col-md-2 hidden-sm hidden-xs text-center">
                                {{o.ValidDate.slice(6, -2) | date: 'dd-MM-yyyy'}}
                            </div>
                            <div class="col-md-1 hidden-sm hidden-xs text-center">
                                {{o.CreatedBy}}
                            </div>
                            <div class="col-md-2 hidden-sm hidden-xs text-center">
                                {{o.CreatedDate.slice(6, -2) | date: 'dd-MM-yyyy'}}
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                                <div ng-if="o.BOMFileVersion == BOMFileViewModel.Filter.LastBOMFileVersion" class="dropdown">
                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-file-download"></i>&nbsp;Generate
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li class="text-center">
                                            <a ng-click="OnGenerateOptions(o.BOMFileID, o.RecObjectName, o.UserSAP, o.ValidDate, o.BOMFilePath, BOMFileViewModel.Filter.Pagination.Page)" href="javascript:void(0)"><i class="fa fa-file"></i>&nbsp;Text BDC Create</a>
                                        </li>
                                    </ul>
                                    <label class="btn btn-warning" ng-click="SetBOMFileID(o.BOMFileID)">
                                        <i class="fa fa-file-upload"></i>&nbsp;Validate @*<input onchange="angular.element(this).scope().OnUploadValidateBOMFile(this.files)" style="display:none !important;" type="file">*@
                                    </label>
                                </div>

                                <button ng-if="!(o.BOMFileVersion == BOMFileViewModel.Filter.LastBOMFileVersion)" class="btn btn-success disabled" type="button">
                                    <i class="fa fa-file-download"></i>&nbsp;Generate
                                    <span class="caret"></span>
                                </button>
                                <label ng-if="!(o.BOMFileVersion == BOMFileViewModel.Filter.LastBOMFileVersion)" class="btn btn-warning disabled">
                                    <i class="fa fa-file-upload"></i>&nbsp;Validate
                                </label>
                            </div>
                        </li>
                        <li ng-if="BOMFileViewModel.List == null" class="list-group-item row p-10">
                            <div class="col-md-12 text-center">
                                No Item
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-4">
                            Page {{BOMFileViewModel.Filter.Pagination.Page}} of {{BOMFileViewModel.Filter.Pagination.TotalPage}}
                        </div>
                        <div class="col col-xs-8">
                            <ul class="pagination hidden-xs pull-right">
                                <li class="page-item" ng-class="(BOMFileViewModel.Filter.Pagination.Page > 1) ? '' : 'disabled'"><a class="page-link" href="javascript:void(0)" ng-click="GotoPage((BOMFileViewModel.Filter.Pagination.Page == 1 ? 1 : BOMFileViewModel.Filter.Pagination.Page - 1))"><i class="fa fa-angle-left"></i></a></li>
                                <li class="page-item" ng-repeat="n in ArrayNumber(BOMFileViewModel.Filter.Pagination.StartPage,BOMFileViewModel.Filter.Pagination.EndPage)" ng-class="(BOMFileViewModel.Filter.Pagination.Page == n ? 'active': '')"><a class="page-link" ng-click="GotoPage(n)" href="javascript:void(0)">{{n}}</a></li>
                                <li class="page-item" ng-class="(BOMFileViewModel.Filter.Pagination.Page == BOMFileViewModel.Filter.Pagination.TotalPage) ? 'disabled' : ''"><a class="page-link" href="javascript:void(0)" ng-click="GotoPage((BOMFileViewModel.Filter.Pagination.Page == BOMFileViewModel.Filter.Pagination.TotalPage ? BOMFileViewModel.Filter.Pagination.TotalPage : BOMFileViewModel.Filter.Pagination.Page + 1))"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="generateOptionsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Generate Options</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body p-0">
                                    <ul class="list-group m-0">
                                        <li class="list-group-item row p-0">
                                            <div class="btn btn-primary col-md-6 col-sm-4 col-xs-4 btn-no-radius">
                                                Sheets
                                            </div>
                                            <button class="btn btn-primary col-md-6 hidden-sm hidden-xs btn-no-radius">
                                                Options
                                            </button>
                                        </li>

                                        <li class="list-group-item row p-10">
                                            <div class="col-md-6 col-sm-4 col-xs-4 text-left">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" ng-model="isSheetsAllSelected" ng-click="toggleSheetsAll()">All</label>
                                                </div>
                                                <div ng-repeat="o in SheetsList" ng-if="SheetsList != null" class="checkbox">
                                                    <label><input type="checkbox" ng-change="optionSheetsToggled()" ng-model="o.checked" value="{{o.id}}">{{ o.name }}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 hidden-sm hidden-xs text-left">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" ng-model="isAllSelected" ng-click="toggleAll()">All</label>
                                                </div>
                                                <div ng-repeat="o in OptionsList" ng-if="OptionsList != null" class="checkbox">
                                                    <label><input type="checkbox" ng-change="optionToggled()" ng-model="o.checked" value="{{o.id}}">{{ o.name }}</label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" ng-click="OnGenerateCreateTextFile(OptionsList, SheetsList)">Generate</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</section>

@section Scripts {
    <script type="text/javascript">
        var BOMFileViewModel = @Html.Raw(Json.Encode(ViewData["BOMFileViewModel"]));
    </script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/CCS/materialBOMItemController.js")"></script>
}